.cart{
    border-radius: 12PX;
    border:1px solid grey;
    padding: 30px;
    box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
    background: #f0f0f0;
    
}
.back{
    font-size: 18px;
    box-shadow: 1px 1px 2px #333;
    border-radius: 1px;
    padding: 20px;
}
hr{
    border:1px solid aqua;
}
.aqua-text{
    color: rgb(39, 24, 100);
    float:left;
    margin-right: 10px;
}
.name{
    float: left;
    margin-right: 10px;
}
.info{
    font-size: 20px;
    margin-left: 20px;
}
.summ{
    font-size: 20px;
    margin-left: 20px;text-align: center;
}
.INF{
    background: linear-gradient(to left,#f0f0f0,rgba(222, 255, 219, 0.89));
    margin-left: 0px;
}