
<br />
<div class="cart">
<h4>Профиль</h4>
<br />
<div class="row INF">
    <div class="info">
    <p>{{customer.Id}}</p>
    <p class="name">{{customer.FName}}</p>
    <p class="name">{{customer.MName}}</p>
    <p class="name">{{customer.LName}}</p>
    <p>{{customer.DateOfBirth | date:'MMMM dd, y'}}</p>
    <p>{{customer.Phone}}</p>
  </div>
</div>
<br />
<div class="row">
    <div  class="col-lg-7">
    <div class="back" *ngFor="let order of orders; let i = index;">
      <label class="aqua-text">номер заказа </label><p>{{order.OrderNo}}</p>
      <label class="aqua-text">дата </label><p> {{order.OrderDate | date:'EEEE, MMMM dd, y'}}</p>
      <label class="aqua-text">стоимость товара </label><p> {{order.OrderPrice}}</p>
      
    </div>
  </div>
    <div class="col-lg-4 summ"><label class="aqua-text">Общая сумма заказов </label>
      
      {{summ}}</div>
</div>
</div>
<br />